﻿@model List<Timesheet.Data.LeaveBalanceConfig>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Leave Balance Config</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Leave Balance Config</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary add-leave-balance-config-btn" data-toggle="modal" data-target="#add-leave-balance-config-modal">
            Add new Leave Balance
        </button>
    </h2>

    <div class="row">
        <div class="table-responsive">
            <table id="leave-balance-config-table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Designation</th>
                        <th>GrantedSL</th>
                        <th>GrantedBF</th>
                        <th>GrantedAL</th>
                        <th>BalanceAL</th>
                        <th>TotalAL</th>
                        <th>BalanceML</th>
                        <th>TotalML</th>
                        <th>TotalMPL</th>
                        <th>BalanceMPL</th>
                        <th>TotalCL</th>
                        <th>BalanceCL</th>
                        <th>Year</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.TimiosStaff.Fullname</td>
                                <td>@item.TimiosStaff.Email</td>
                                <td>@item.TimiosStaff.Designation</td>
                                <td>@item.GrantedSL</td>
                                <td>@item.GrantedBF</td>
                                <td>@item.GrantedAL</td>
                                <td>@item.BalanceAL</td>
                                <td>@item.TotalAL</td>
                                <td>@item.BalanceML</td>
                                <td>@item.TotalML</td>
                                <td>@item.TotalMPL</td>
                                <td>@item.BalanceMPL</td>
                                <td>@item.TotalCL</td>
                                <td>@item.BalanceCL</td>
                                <td>@item.Year</td>
                                <td>
                                    <button class="btn btn-outline-info btn-sm edit-leave-balance-config-btn" data-leavebalanceconfigid="@item.Id" data-toggle="modal" data-target="#edit-leave-balance-config-modal">Edit</button>
                                </td>
                            </tr>
                            i += 1;
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#leave-balance-config-table').DataTable();

            $("#leave-balance-config-table").on("click", ".edit-leave-balance-config-btn", function () {
                $.ajax({
                    url: "/leavebalanceconfig/GetSingleById?id=" + $(this).attr("data-leavebalanceconfigid"),
                    type: "get",
                    success: function (data) {
                        $("#staticFullname").val(data.timiosStaff.fullname);
                        $("#staticEmail").val(data.timiosStaff.email);
                        $("#staticDesignation").val(data.timiosStaff.designation);
                        $("#staticGrantedBF").val(data.grantedBF);
                        $("#staticGrantedSL").val(data.grantedSL);
                        $("#staticGrantedAL").val(data.grantedAL);
                        $("#staticBalanceAL").val(data.balanceAL);
                        $("#staticTotalAL").val(data.totalAL);
                        $("#staticBalanceML").val(data.balanceML);
                        $("#staticTotalML").val(data.totalML);
                        $("#staticTotalMPCL").val(data.totalMPCL);
                        $("#staticBalanceMPCL").val(data.balanceMPCL);
                        $("#staticId").val(data.id);
                        $("#staticYear").val(data.year);
                    }
                })
            })
        })
    </script>
}

@section modals{
    <div class="modal" tabindex="-1" role="dialog" id="edit-leave-balance-config-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit leave balance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/leavebalanceconfig/update">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label for="staticEmail" class="col-sm-2">Fullname</label>
                                <input type="text" readonly name="Fullname" class="form-control" id="staticFullname" value="">
                                <input type="hidden" name="Id" readonly class="form-control-plaintext" id="staticId" value="" />
                            </div>
                            <div class="form-group col-md-7 col-12">
                                <label>Email</label>
                                <input type="email" class="form-control" name="Email" value="" id="staticEmail" readonly>
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>Designation</label>
                                <input type="text" class="form-control" id="staticDesignation" name="Designation" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>GrantedBF</label>
                                <input type="number" class="form-control" id="staticGrantedBF" name="GrantedBF" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>GrantedSL</label>
                                <input type="number" class="form-control" id="staticGrantedSL" name="GrantedSL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>GrantedAL</label>
                                <input type="number" class="form-control" id="staticGrantedAL" name="GrantedAL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>BalanceAL</label>
                                <input type="number" class="form-control" id="staticBalanceAL" name="BalanceAL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>TotalAL</label>
                                <input type="number" class="form-control" id="staticTotalAL" name="TotalAL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>BalanceML</label>
                                <input type="number" class="form-control" id="staticBalanceML" name="BalanceML" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>TotalML</label>
                                <input type="number" class="form-control" id="staticTotalML" name="TotalML" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>TotalMPL</label>
                                <input type="number" class="form-control" id="staticTotalMPL" name="TotalMPL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>BalanceMPL</label>
                                <input type="number" class="form-control" id="staticBalanceMPL" name="BalanceMPL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>TotalCL</label>
                                <input type="number" class="form-control" id="staticTotalCL" name="TotalCL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>BalanceCL</label>
                                <input type="number" class="form-control" id="staticBalanceCL" name="BalanceCL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>Year</label>
                                <input type="number" class="form-control" id="staticYear" readonly name="Year" value="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="add-leave-balance-config-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new leave balance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/leavebalanceconfig/add">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <select class="form-control" name="TimiosStaffId">
                                    @foreach (var item in ViewBag.TimiosStaffs)
                                    {
                                        <option value="@item.Id">@item.Fullname</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>GrantedBF</label>
                                <input type="number" class="form-control" name="GrantedBF" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>GrantedSL</label>
                                <input type="number" class="form-control" name="GrantedSL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>GrantedAL</label>
                                <input type="number" class="form-control" name="GrantedAL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>BalanceAL</label>
                                <input type="number" class="form-control" name="BalanceAL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>TotalAL</label>
                                <input type="number" class="form-control" name="TotalAL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>BalanceML</label>
                                <input type="number" class="form-control" name="BalanceML" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>TotalML</label>
                                <input type="number" class="form-control" name="TotalML" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>TotalMPCL</label>
                                <input type="number" class="form-control" name="TotalMPCL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>BalanceMPCL</label>
                                <input type="number" class="form-control" name="BalanceMPCL" value="">
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>Year</label>
                                <input type="number" class="form-control" name="Year" value="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}