﻿@model Timesheet.Data.ApplicationUser
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Profile</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item">Profile</div>
    </div>
</div>
<div class="section-body">
    <h2 class="section-title">Hi, @Model.FullName!</h2>
    <div class="row mt-sm-4">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data" action="/profile/updateprofile" class="needs-validation" novalidate="">
                    <div class="card-header">
                        <h4>Edit Profile</h4>
                    </div>
                    <div class="card-body row">
                        <div class="col-lg-3">
                            <img alt="image" src="~/img/avatar/@Model.Avatar" class="rounded-circle w-100">
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="form-group col-lg-12 col-12">
                                    <label>Username</label>
                                    <input type="text" class="form-control" readonly value="@Model.UserName">
                                </div>
                                <div class="form-group col-lg-12 col-12">
                                    <label>Fullname</label>
                                    <input type="text" id="avatar-input" class="form-control" name="Fullname" value="@Model.FullName" required="">
                                    <div class="invalid-feedback">
                                        Please fill in the fullname
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12 col-12">
                                    <label>Avatar</label>
                                    <input type="file" class="form-control" name="Avatar" value="@Model.Avatar"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-7 col-12">
                                    <label>Email</label>
                                    <input type="email" class="form-control" value="@Model.Email" readonly>
                                </div>
                                <div class="form-group col-md-5 col-12">
                                    <label>Phone</label>
                                    <input type="tel" class="form-control" name="Phone" value="@Model.PhoneNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#avatar-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next("#avatar-input").html(fileName);
            })
        })
    </script>
}
