﻿#effort-container {
}

#input-effort-box {
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.55);
    padding: 20px;
    background-color: white;
}

    #input-effort-box input {
        width: 40px;
        border: none;
        border-bottom: 1px solid black;
        text-align: center;
    }

    #input-effort-box i {
        cursor: pointer;
    }

        #input-effort-box i:hover {
            color: red;
        }
