﻿@model Timesheet.Data.AttendanceReport
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Edit Attendance</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Attendance</a></div>
        <div class="breadcrumb-item"><a>Edit</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <a href="/Attend/" class="btn btn-primary">
            Back
        </a>
    </h2>

    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 px-5">
            <div class="card card-info">
                <div class="card-header">
                    <h4>Attendance Report</h4>
                    <div class="card-header-action">
                        <a data-collapse="#summary-container" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="summary-container">
                    <div class="card-body row w-100">
                        @using (Html.BeginForm("MakeChanges", "Attend", FormMethod.Post, new { @class = "w-100"}))
                        {
                            @Html.AntiForgeryToken()

                            <div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.PersonnelId)

                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Name)*@
                                <div class="form-group col-lg-12 col-12">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                                    @*<input type="text"id="Name" name="Name" value="@Model.Name" />*@
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Name)
                                </div>
                                <div class="form-group col-lg-12 col-12">
                                    @Html.LabelFor(model => model.DeviceName, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.DeviceName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DeviceName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-lg-12 col-12">
                                    @Html.LabelFor(model => model.VerifyType)
                                    @Html.EditorFor(model => model.VerifyType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VerifyType, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-lg-12 col-12">
                                    @Html.LabelFor(model => model.Status)<br />
                                    @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.Status, new SelectList(new string[] { "Annual Leave", "Unpaid Leave", "Medical Leave", "Absent", "Others", "Maternity/Paternity/Childcare Leave" }, Model.Status), 
                                                           new {  @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-12 col-12">
                                    @Html.LabelFor(model => model.Timestamp.Date)
                                    <input class="form-control" type="text" readonly value="@Convert.ToDateTime(Model.Timestamp).ToString("dd/MM/yyyy")"/>
                                </div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Timestamp)

                                <div class="form-group col-lg-12 col-12">
                                    @Html.LabelFor(model => model.Remark)
                                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-lg-12 col-12" style="text-align: right">
                                    <input type="submit" id="Submit" value="Change" name="Submit" class="btn btn-info" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

