﻿@model List<Timesheet.Data.AttendanceReport>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Attendance</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Attendance</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary">
            Attendance
        </button>
    </h2>

    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 px-5">
            <div class="card card-info">
                <div class="card-header">
                    <h4>Summary</h4>
                    <div class="card-header-action">
                        <a data-collapse="#summary-container" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="summary-container">
                    <div class="card-body row">
                        <table class="table">
                            <tr>
                                <th>Type</th>
                                <th>Count</th>
                            </tr>
                            <tr>
                                <td>NUMBER OF Absent</td>
                                <td>@ViewData["Absent"]</td>
                            </tr>
                            <tr>
                                <td>NUMBER OF Medical Leave</td>
                                <td>@ViewData["Medical Leave"]</td>
                            </tr>
                            <tr>
                                <td>NUMBER OF Paid Leave</td>
                                <td>@ViewData["Paid Leave"]</td>
                            </tr>
                            <tr>
                                <td>NUMBER OF Others</td>
                                <td>@ViewData["Others"]</td>
                            </tr>
                            <tr>
                                <td>NUMBER OF Maternity/Paternity Leave</td>
                                <td>@ViewData["Maternity/Paternity Leave"]</td>
                            </tr>
                            <tr>
                                <td>NUMBER OF Childcare Leave</td>
                                <td>@ViewData["Childcare Leave"]</td>
                            </tr>
                            <tr>
                                <td>NUMBER OF Annual Leave</td>
                                <td>@ViewData["Annual Leave"]</td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 px-5">
            <div class="card card-danger">
                <div class="card-header">
                    <h4>Attendance Table</h4>
                </div>
                <div class="collapse show">
                    <div class="card-body row">
                        <div class="table-responsive">
                            <table id="attendance-table" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th> Name </th>
                                        <th> VerifyType</th>
                                        <th> Status</th>
                                        <th> Date</th>
                                        <th> Day</th>
                                        @if (User.IsInRole("admin"))
                                        {
                                            <th> Remarks</th>
                                            <th> Changes</th>
                                            <th> History_Status</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VerifyType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Convert.ToDateTime(item.Timestamp).ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                @Convert.ToDateTime(item.Timestamp).ToString("dddd")
                                            </td>
                                            @if (User.IsInRole("admin"))
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Remark)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "Attend", new { id = item.Id }, null)">
                                                        Edit
                                                    </a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HistStatus)
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#attendance-table').DataTable();
        })
    </script>

}
