﻿@model List<Timesheet.Data.BizValue>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Leave Type</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Leave Type</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-leave-modal">Add new leave type</button>
    </h2>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 px-5">
            <div class="card card-info">
                <div class="card-header">
                    <h4>Leave Type Table</h4>
                </div>
                <div class="collapse show">
                    <div class="card-body row">
                        <div class="table-responsive">
                            <table id="leave-table" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Type</th>
                                        <th>Value</th>
                                        <th>SortOrder</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Type</td>
                                                <td>@item.Value</td>
                                                <td>@item.SortOrder</td>
                                                <td>
                                                    <button class="btn btn-outline-info btn-sm view-leave-btn" data-leaveid="@item.Id" data-toggle="modal" data-target="#edit-leave-modal">View</button>
                                                    <button class="btn btn-outline-danger btn-sm delete-leave-btn" data-leaveid="@item.Id" data-toggle="modal" data-target="#delete-leave-modal">Delete</button>
                                                </td>
                                            </tr>
                                            i += 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#leave-table').DataTable();
            toastr.warning('Cannot use leave type page now!!!');

            $("#leave-table").on("click", ".view-leave-btn", function () {
                $.ajax({
                    url: "/LeaveType/GetInforLeave?id=" + $(this).attr("data-leaveid"),
                    type: "get",
                    success: function (data) {
                        $("#valueLeave").val(data.value)
                        $("#idLeave").val(data.id)
                        $("#sortOrderLeave").val(data.sortOrder)
                    }
                })
            })

            $("#leave-table").on("click", ".delete-leave-btn", function () {
                $("#deleteLeaveId").val($(this).attr("data-leaveid"))
            })
        })

    </script>
}


@section modals{
    <div class="modal" tabindex="-1" role="dialog" id="edit-leave-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/LeaveType/UpdateLeave">
                    <div class="modal-body">
                        <input type="hidden" name="Id" class="form-control-plaintext" id="idLeave" value="" />
                        <div class="form-group col-lg-12">
                            <label for="valueLeave">Leave Value</label>
                            <input type="text" name="Value" class="form-control" id="valueLeave" value="">
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="sortOrderLeave">Leave SortOrder</label>
                            <input type="number" name="SortOrder" class="form-control" id="sortOrderLeave" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="add-leave-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Leave Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/LeaveType/AddLeave">
                    <div class="modal-body">
                        <div class="form-group col-lg-12">
                            <label for="valueLeave" class="col-sm-4">Leave Type Value</label>
                            <input type="text" name="Value" class="form-control" value="">
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="valueLeave" class="col-sm-4">Leave Type SortOrder</label>
                            <input type="number" name="SortOrder" class="form-control" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="delete-leave-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/LeaveType/DeleteLeave">
                    <div class="modal-body">
                        <div class="form-group col-lg-12">
                            <label for="lockUserId" class="col-sm-12">Do you want to delete this leave</label>
                            <input type="hidden" name="id" readonly class="form-control-plaintext" id="deleteLeaveId" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}