﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Calendar</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Calendar</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary">
            Calendar
        </button>
    </h2>

    <div class="row">
        <div id='calendar'></div>
    </div>
</div>

@section scripts{
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                aspectRatio: 1,
                plugins: ['dayGrid', 'interaction'],
                defaultView: 'dayGridMonth',
                @*@if (User.IsInRole("admin"))
                {
                    @:selectable: true,
                },*@
                selectable: true,
                eventlimit: true,
                views: {
                    dayGrid: {
                        eventLimit: 5
                     }
                },
                select: function(info) {
                    alert('selected ' + info.startStr + ' to ' + info.endStr + ' redirect to LeaveRequest for  submission');
                    var url = '@Html.Raw(Url.Action("LeaveRequest","LeaveRequest", new { start = "__start__" , end = "__end__"}))';
                    url = url.replace("__start__", info.startStr);
                    window.location.href = url.replace('__end__', info.endStr);
                },
                events:
                [
                   @foreach (Timesheet.Data.CalendarNote s in ViewData["Note"] as List<Timesheet.Data.CalendarNote>)
                   {
                        @:{
                          @:title: '@s.Name' + '  ' + '\n @s.Status \n ' + '@s.SubmitDate.ToString("dd-MMM-yy")',
                          @:start: '@s.Date.ToString("yyyy-MM-dd")',
                          @:textColor: 'white',

                       @* ///ADDING COLOR FOR EACH TYPE OF STATUS*@
                       switch (s.Status)
                       {
                           @*case "Medical Leave":
                               @:color: 'purple'
                               break;
                           case "Paid Leave":
                               @:color: 'blue'
                               break;
                           case "Unpaid Leave":
                               @:color: 'pink'
                               break;
                           case "Others":
                               @:color: 'green'
                               break;
                           case "Maternity/Paternity/Childcare Leave":
                               @:color: 'brown'
                               break;
                           case "Annual Leave":
                               @:color: 'orange'
                               break;*@
                           case "Submitted":
                               @:color: 'gray'
                               break;
                           case "Approved":
                               @:color: 'green'
                               break;
                           default:
                               @:color: 'green'
                               break;
                       }


                           @*@:start : '2020-03-03'*@
                        @:},

                   }


                ]
            });
                       calendar.render();
                   });



    </script>

}