﻿
@{
    ViewData["Title"] = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>General Dasboard</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>General Dashboard</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">@DateTime.Now.ToLongDateString() </h2>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card card-statistic-1">
                <div class="card-icon bg-primary">
                    <i class="fas fa-th"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Total Projects</h4>
                    </div>
                    <div class="card-body">
                        @ViewBag.ProjectNumber
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card card-statistic-1">
                <div class="card-icon bg-danger">
                    <i class="far fa-user"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Total Admin</h4>
                    </div>
                    <div class="card-body">
                        @ViewBag.AdminNumber
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card card-statistic-1">
                <div class="card-icon bg-warning">
                    <i class="far fa-user"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Total Members</h4>
                    </div>
                    <div class="card-body">
                        @ViewBag.MemberNumber
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Status</h4>
                </div>
                <div class="card-body">
                    <canvas id="statusProject" class="w-100"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Progress</h4>
                </div>
                <div class="card-body">
                    <canvas id="completedPercentProject" class="w-100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var statusProjectChart = document.getElementById('statusProject').getContext('2d');
            new Chart(statusProjectChart, {
                type: 'pie',
                data: {
                    labels: @Html.Raw(Json.Serialize(ViewBag.StatusProjectLabels)),
                    datasets: [{
                        label: "",
                        data: @Html.Raw(Json.Serialize(ViewBag.StatusProjectDatas)),
                        backgroundColor: @Html.Raw(Json.Serialize(ViewBag.StatusProjectBackgroundColors)),
                        borderColor:  @Html.Raw(Json.Serialize(ViewBag.StatusProjectBorderColors)),
                        borderWidth: 1
                    }]
                },
                options: {
                }
            });

            var completedPercentChart = document.getElementById('completedPercentProject').getContext('2d');
            new Chart(completedPercentChart, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Serialize(ViewBag.CompletedPercentLabels)),
                    datasets: [{
                        label: "",
                        data: @Html.Raw(Json.Serialize(ViewBag.CompletedPercentDatas)),
                        backgroundColor: @Html.Raw(Json.Serialize(ViewBag.CompletedPercentBackgroundColors)),
                        borderColor:  @Html.Raw(Json.Serialize(ViewBag.CompletedPercentBackgroundColors)),
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtAZero: true,
                                steps: 10,
                                stepValue: 5,
                                max: 100
                            }
                        }]
                    }
                }
            });
        })
    </script>
}
