﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="right">
    <div class="dashboard">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-xs-6 mb-3">
                <div class="overview-box">
                    <div class="float-left">
                        <i class="fas fa-project-diagram" style="color: orange; vertical-align: -webkit-baseline-middle;"></i>
                    </div>
                    <div class="float-right;mb-2" style="text-align: right; ">
                        <span style="color: orange; font-size: larger;font-weight: 600;">20</span>
                        <br>
                        <span style="font-size: small; font-weight: 300;">Total Projects</span>
                    </div>
                    <div style="clear: both; border-top: 1px solid lightgray;" class="mt-1">
                        <span style="font-size: small; font-weight: 300; cursor: pointer;">
                            <i class="fas fa-sync mr-1"></i>
                            Update Now
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-4 col-xs-6 mb-3">
                <div class="overview-box">
                    <div class="float-left">
                        <i class="fas fa-users" style="color: #a6576a; vertical-align: -webkit-baseline-middle;"></i>
                    </div>
                    <div class="float-right;mb-2" style="text-align: right; ">
                        <span style="color: #a6576a; font-size: larger;font-weight: 600;">40</span>
                        <br>
                        <span style="font-size: small; font-weight: 300;">Total Member</span>
                    </div>
                    <div style="clear: both; border-top: 1px solid lightgray;" class="mt-1">
                        <span style="font-size: small; font-weight: 300; cursor: pointer;">
                            <i class="fas fa-sync mr-1"></i>
                            Update Now
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-4 col-xs-6 mb-3">
                <div class="overview-box">
                    <div class="float-left">
                        <i class="fas fa-tasks" style="color: #63c2a2; vertical-align: -webkit-baseline-middle;"></i>
                    </div>
                    <div class="float-right;mb-2" style="text-align: right; ">
                        <span style="color: #63c2a2; font-size: larger;font-weight: 600;">12</span>
                        <br>
                        <span style="font-size: small; font-weight: 300;">Done Stages by day</span>
                    </div>
                    <div style="clear: both; border-top: 1px solid lightgray;" class="mt-1">
                        <span style="font-size: small; font-weight: 300; cursor: pointer;">
                            <i class="fas fa-sync mr-1"></i>
                            Update Now
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-6 mb-2">
                <div class="chart-box">
                    <canvas id="projectDataPieChart" width="" height=""></canvas>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xl-6 mb-2">
                <div class="chart-box">
                    <canvas id="typeProjectPieChart" width="" height=""></canvas>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xl-6 mb-2">
                <div class="chart-box">
                    <canvas id="effortDailyBarChart" width="" height=""></canvas>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xl-6 mb-2">
                <div class="chart-box">
                    <canvas id="progressBarChart" width="" height=""></canvas>
                </div>
            </div>
        </div>



    </div>
</div>

@section scripts{
    <script>
        new Chart(document.getElementById('projectDataPieChart').getContext('2d'), {
            type: 'pie',
            data: {
                labels: ["Running", "Cancel", "Done"],
                datasets: [{
                    backgroundColor: ["Green", "Red", "yellow"],
                    data: [10, 2, 3]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Status of Project'
                }
            }


        });

        new Chart(document.getElementById('typeProjectPieChart').getContext('2d'), {
            type: 'pie',
            data: {
                labels: ["Website", "Mobile App", "Desktop App"],
                datasets: [{
                    backgroundColor: ["Green", "Red", "yellow"],
                    data: [8, 4, 3]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Type of Project'
                }
            }


        });

        new Chart(document.getElementById('effortDailyBarChart').getContext('2d'), {
            type: 'horizontalBar',
            data: {
                labels: ["Projet A", "Project B", "Project C", "Project D", "Project E"],
                datasets: [
                    {
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: [232, 123, 412, 122, 53]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Daily Efforts'
                }
            }
        });

        new Chart(document.getElementById('progressBarChart').getContext('2d'), {
            type: 'horizontalBar',
            data: {
                labels: ["Projet A", "Project B", "Project C", "Project D", "Project E"],
                datasets: [
                    {
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: [90, 93, 20, 15, 53]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Progress'
                }
            }
        });

    </script>

}
