﻿@model List<Timesheet.Data.Activity>

@{
    ViewData["Title"] = "Today";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Today Dashboard</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Today Dashboard</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">@DateTime.Now.ToLongDateString() </h2>
    <div class="row">
        <div class="col-12">
            <div class="activities">
                @if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="activity">
                            <div class="activity-icon bg-primary text-white shadow-primary">
                                <i class="@item.Icon"></i>
                            </div>
                            <div class="activity-detail">
                                <div class="mb-2">
                                    <span class="text-job text-primary">@item.CreatedAt.ToShortTimeString()</span>
                                    <span class="bullet"></span>
                                    <span class="text-job">
                                        <img alt="image" src="~/img/avatar/@item.ApplicationUser.Avatar" class="rounded-circle" width="30px">
                                        @item.ApplicationUser.FullName
                                    </span>
                                    @*<div class="float-right dropdown">
                                <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-title">Options</div>
                                    <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                                    <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item has-icon text-danger" data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?" data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a>
                                </div>
                            </div>*@
                                </div>
                                <p>@item.Content</p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h2>No Activitiy!</h2>
                }
            </div>
        </div>
    </div>
</div>

