﻿@model List<MemberViewModel>
@{
    ViewData["Title"] = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Members</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Members</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-new-member-modal">Add new member</button>
    </h2>

    <div class="row">
        <div class="table-responsive p-5">
            <table id="member-table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.User.FullName</td>
                                <td>@item.User.Email</td>
                                <td>
                                    @foreach (var role in item.Roles)
                                    {
                                        <button type="button" class="mx-1 btn btn-primary btn-sm">@role.Name</button>
                                    }
                                </td>
                                <td><button class="btn btn-outline-info btn-sm edit-role-btn" data-userid="@item.User.Id" data-toggle="modal" data-target="#edit-role-modal">Edit role</button></td>
                                <td>
                                    @if (item.User.IsDeleted == true)
                                    {
                                        <button class="btn btn-danger btn-sm">Locked</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-danger btn-sm lock-user-btn" data-userid="@item.User.Id" data-toggle="modal" data-target="#lock-user-modal">Lock</button>
                                        <button class="btn btn-outline-info btn-sm effort-member-btn" data-userid="@item.User.Id" data-toggle="modal" data-target="#effort-of-member-modal">View</button>
                                    }
                                </td>
                            </tr>
                            i += 1;
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#member-table').DataTable();

            $("#member-table").on("click", ".edit-role-btn" ,function () {
                $.ajax({
                    url: "/member/GetInforOfIndividualMember?userId=" + $(this).attr("data-userid"),
                    type: "get",
                    success: function (data) {
                        $("#staticEmail").val(data.user.email)
                        $("#staticUserId").val(data.user.id)

                        content = `<label class="col-sm-2">Roles</label>`
                        for (var i = 0; i < data.allRoles.length; i++) {
                            if (data.roles.some(role => role.name === data.allRoles[i].name)) {
                                content += `<div class="form-group col-lg-3 col-md-4 col-12">
                                                                <div class="custom-control custom-checkbox custom-control-inline ">
                                                                    <input type="checkbox" class="custom-control-input" checked name="RoleNames" type="checkbox" id="role-`+ data.allRoles[i].id + `" value="` + data.allRoles[i].name + `">
                                                                    <label class="custom-control-label" for="role-`+ data.allRoles[i].id + `">` + data.allRoles[i].name + `</label>
                                                                </div>
                                                            </div>`
                            }
                            else {
                                content += `<div class="form-group col-lg-3 col-md-4 col-12">
                                                                <div class="custom-control custom-checkbox custom-control-inline ">
                                                                    <input type="checkbox" class="custom-control-input" name="RoleNames" type="checkbox" id="role-`+ data.allRoles[i].id + `" value="` + data.allRoles[i].name + `">
                                                                    <label class="custom-control-label" for="role-`+ data.allRoles[i].id + `">` + data.allRoles[i].name + `</label>
                                                                </div>
                                                            </div>`
                            }

                        }

                        $("#edit-role-container").html(content);
                    }
                });
            })

            $("#member-table").on("click", ".lock-user-btn", function () {
                $.ajax({
                    url: "/member/GetInforOfIndividualMember?userId=" + $(this).attr("data-userid"),
                    type: "get",
                    success: function (data) {
                        $("#lockUserEmail").val(data.user.email)
                        $("#lockUserId").val(data.user.id)
                    }
                })
            })

            $("#member-table").on("click", ".effort-member-btn", function () {
                $.ajax({
                    url: "/member/GetEffortByMemberViewModel?userId=" + $(this).attr("data-userid"),
                    type: "get",
                    success: function (data) {
                        $("#effort-of-member-email").html(data.email)

                        if (data.currentEfforts != null) {
                            var datas = [];
                            for (var i = 0; i < data.currentEfforts.length; i++) {
                                var line = [];
                                line.push((i + 1))
                                line.push(data.currentEfforts[i].project.id);
                                line.push(data.currentEfforts[i].project.name);
                                line.push(data.currentEfforts[i].stageName);
                                line.push(data.currentEfforts[i].effortNumber);
                                line.push(data.currentEfforts[i].date);
                                datas.push(line);
                            }
                            $('#effort-member-table').DataTable().destroy();
                            $('#effort-member-table').DataTable({
                                data: datas
                            });
                        }

                    }
                })
            })
        });
    </script>

}

@section modals{
    <div class="modal" tabindex="-1" role="dialog" id="edit-role-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/member/UpdateRoleOfIndividualMember">
                    <div class="modal-body">
                        <div class="form-group col-lg-12">
                            <label for="staticEmail" class="col-sm-2">Email</label>
                            <input type="text" readonly name="Id" class="form-control" id="staticEmail" value="">
                            <input type="hidden" name="UserId" readonly class="form-control-plaintext" id="staticUserId" value="" />
                        </div>
                        <div class="form-group row" id="edit-role-container">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="lock-user-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/member/LockMember">
                    <div class="modal-body">
                        <div class="form-group col-lg-12">
                            <label for="lockUserId" class="col-sm-12">Do you want to lock this account</label>
                            <input type="text" readonly name="Username" class="form-control" id="lockUserEmail" value="">
                            <input type="hidden" name="UserId" readonly class="form-control-plaintext" id="lockUserId" value="" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Lock</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="add-new-member-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/member/AddMemberToSystem">
                    <div class="modal-body">
                        <div class="form-group col-lg-12">
                            <label for="addNewMemberEmail" class="col-sm-2">Email</label>
                            <input type="text" name="email" class="form-control" id="addNewMemberEmail" value="">
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="addNewMemberFullname" class="col-sm-2">Name</label>
                            <input type="text" name="name" class="form-control" id="addNewMemberFullname" value="">
                        </div>
                        <div class="form-group row" id="select-role-container">
                            <label class="col-sm-2">Roles</label>
                            @foreach (var role in ViewBag.AllRoles)
                            {
                                <div class="form-group col-lg-3 col-md-4 col-12">
                                    <div class="custom-control custom-checkbox custom-control-inline ">
                                        <input type="checkbox" class="custom-control-input" name="RoleNames" id="role-@role.Id" value="@role.Name">
                                        <label class="custom-control-label" for="role-@role.Id">@role.Name </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="effort-of-member-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="effort-of-member-email"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive p-5">
                        <table id="effort-member-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Project Code</th>
                                    <th>Project Name</th>
                                    <th>Effort Name</th>
                                    <th>Effort Number</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody id="effort-member-content">
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}