﻿
@{
    ViewData["Title"] = "Create Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section-header">
    <h1>Create new Project</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a href="/project">Projects</a></div>
        <div class="breadcrumb-item"><a>Create new project</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <a type="button" href="/project" class="btn btn-primary">
            back
        </a>
    </h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-3">
                            <ul class="nav nav-pills flex-column" id="myTab4" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab4" data-toggle="tab" href="#stage-one-content" role="tab" aria-controls="home" aria-selected="true">Stage One</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#stage-two-content" role="tab" aria-controls="profile" aria-selected="false">Stage Two</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-9">
                            <div class="tab-content no-padding" id="myTab2Content">
                                <div class="tab-pane fade show active" id="stage-one-content" role="tabpanel" aria-labelledby="home-tab4">
                                    <div class="section-title mt-0">Information</div>
                                    <div class="row mb-2">
                                        <div class="form-group col-md-6 col-12">
                                            <label>Project code</label>
                                            <input type="text" name="Id" class="form-control" value="">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label>Project Name</label>
                                            <input type="text" name="Name" class="form-control" value="">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label>Company</label>
                                            <input type="text" name="Company" class="form-control" value="">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label>Description</label>
                                            <textarea name="Description" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label>Plan start</label>
                                            <input type="date" name="PlannedStart" class="form-control" value="">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label>Plan end</label>
                                            <input type="date" name="PlannedEnd" class="form-control" value="">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label>Order number</label>
                                            <input type="text" name="OrderNumber" class="form-control" value="">
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label>Quotation Number</label>
                                            <input type="text" name="QuotationNumber" class="form-control" value="">
                                        </div>
                                    </div>

                                    <div class="section-title mt-0">Category</div>
                                    <div class="row mb-2">
                                        @foreach (var item in ViewBag.ActivityDefaults)
                                        {
                                            <div class="form-group col-lg-3 col-md-4 col-12">
                                                <div class="custom-control custom-radio custom-control-inline ">
                                                    <input type="radio" class="custom-control-input" name="activity" id="activity-@item.Name" value="@item.Id" style="vertical-align: middle">
                                                    <label class="custom-control-label" for="activity-@item.Name">@item.Name</label>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="section-title mt-0">Status</div>
                                    <div class="row mb-2">
                                        <div class="form-group col-lg-3 col-md-4 col-12">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="status-cancel" name="status" disabled class="custom-control-input" value="1">
                                                <label class="custom-control-label" for="status-cancel">Cancel</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-3 col-md-4 col-12">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="status-closed" name="status" disabled class="custom-control-input" value="2">
                                                <label class="custom-control-label" for="status-closed">Closed</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-3 col-md-4 col-12">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="status-running" checked name="status" disabled class="custom-control-input" value="3">
                                                <label class="custom-control-label" for="status-running">Running</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="section-title mt-0">Efforts</div>
                                    <div class="row mb-2">
                                        <div class="form-group col-lg-4 col-md-4 col-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend ">
                                                    <span class="input-group-text">Total Number</span>
                                                </div>
                                                <input type="text" name="HourUltilized" class="form-control effort-number" value="0">
                                            </div>
                                        </div>
                                        <div class="w-100" style="text-align: center; color: gray;">
                                            OR
                                        </div>
                                        @foreach (var item in ViewBag.EffortDefaults)
                                        {
                                            <div class="form-group col-lg-4 col-md-4 col-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend ">
                                                        <span class="input-group-text">@item.Name</span>
                                                    </div>
                                                    <input type="text" class="form-control effort-number" value="0">
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="" style="text-align: right;">
                                        <button type="button" class="btn btn-primary" id="save-content"> Add </button>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="stage-two-content" role="tabpanel" aria-labelledby="profile-tab4">
                                    <div class="section-title mt-0">Member</div>
                                    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#add-member-modal">
                                        Add member
                                    </button>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Name</th>
                                                        <th>Gmail</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="member-container">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section modals{
    <div class="modal fade" tabindex="-1" role="dialog" id="add-member-modal" aria-modal="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <hr>
                </div>
                <div class="modal-body">
                    <div class="search-element">
                        <select class="form-control" id="selected-member-container">
                            @foreach (var item in ViewBag.Members)
                            {
                                <option value="@item.Id">@item.Email</option>
                            }
                        </select>
                    </div>
                    <form id="role-form">
                        <input name="projectId" type="hidden" value="" />
                        <div class="row mt-3">
                            @foreach (var item in ViewBag.Positions)
                            {
                                <div class="col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="position-@item.Id" value="@item.Id">
                                        <label class="form-check-label" for="position-@item.Id">
                                            @item.Name
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add-member-btn" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#save-content").click(function () {
                var efforts = $('.effort-number').map(function () {
                    return this.value;
                }).get();
                var data = {
                    id: $("input[name='Id']").val(),
                    Name: $("input[name='Name']").val(),
                    Company: $("input[name='Company']").val(),
                    Description: $("textarea[name='Description']").val(),
                    QuotationNumber: $("input[name='QuotationNumber']").val(),
                    OrderNumber: $("input[name='OrderNumber']").val(),
                    PlannedStart: $("input[name='PlannedStart']").val(),
                    PlannedEnd: $("input[name='PlannedEnd']").val(),
                    HourUltilized: $("input[name='HourUltilized']").val(),
                    Activity: $("input[name='activity']:checked").val(),
                    Efforts: efforts,
                    Status: $("input[name='status']:checked").val()
                }
                $.ajax({
                    url: "/project/CreateStageOne",
                    type: "post",
                    data: data,
                    success: function (data) {
                        toastr.success('Create Successfully!');
                        $("#role-form input[type='hidden']").val(data);
                    }
                });

            })

            $(document).on('click', '.position-edit', function () {
                $(this).parent().parent().find("input").fadeIn();
                $(this).parent().find(".position-action").fadeIn();
                $(this).fadeOut();
            })

            $(document).on('click', '.position-cancel', function () {
                $(this).parent().parent().find("input").fadeOut();
                $(this).parent().parent().find("input").prop("checked", true);
                $(this).parent().find(".position-action").fadeOut();
                $(this).parent().find(".position-edit").fadeIn();
            })

            var removedPositions = []
            $(document).on('click', '.position-save', function () {
                removedPositions = []
                $(this).parent().parent().find("input:checkbox:not(:checked)").each(function () {
                    removedPositions.push($(this).val());
                })

                var memeberData = {
                    MemberId: $(this).attr("data-memberId"),
                    ProjectId: $("#role-form input[type='hidden']").val(),
                    Positions: removedPositions
                };

                $.ajax({
                    url: "/project/UpdatePositionOfMember",
                    type: "post",
                    data: memeberData,
                    success: function (data) {
                        toastr.success('Update position of member successfully!');
                        UpdateMemberTable(data);
                    }
                });

            })

            var positions = []

            $("#add-member-btn").click(function () {
                if ($("#role-form input[type='hidden']").val() == "") {
                    toastr.warning('Please creater a new project first!');
                    return;
                }
                positions = [];
                $("#role-form input:checked").each(function () {
                    positions.push($(this).val());
                })

                var memeberData = {
                    MemberId: $("#selected-member-container").children("option:selected").val(),
                    ProjectId: $("#role-form input[type='hidden']").val(),
                    Positions: positions
                };

                memeberData.Positions = positions;

                $.ajax({
                    url: "/project/CreateStageTwo",
                    type: "post",
                    data: memeberData,
                    success: function (data) {
                        toastr.success('Add member successfully!');
                        UpdateMemberTable(data);
                    }
                });
            })

            function UpdateMemberTable(data) {
                var content = '';
                for (var i = 0; i < data.length; i++) {
                    content += `<tr>
                                    <th scope="row">`+ (i+1) + `</th>
                                    <td>
                                        <a class="font-weight-600"><img src="/img/avatar/avatar-1.png" alt="avatar" width="30" class="rounded-circle mr-1"> `+data[i].applicationUser.email+`</a>
                                    </td>
                                    <td>`
                            
                        
                    

                    for (var j = 0; j < data[i].positions.length; j++) {
                        content += `<input checked value="` + data[i].positions[j].id + `" type='checkbox' id='current-position-` + data[i].positions[j].id + `' style="display: none; height: 15px; width: 15px; vertical-align: sub"><label class="mr-2" for='current-position-` + data[i].positions[j].id + `'><button class="btn btn-primary btn-sm">` + data[i].positions[j].icon + `</button></label>`;
                    }

                    content += `    </td>
                                    <td>
                                        <button data-memberId="`+ data[i].applicationUser.id + `" class="btn btn-outline-primary btn-sm mr-1 position-edit">Edit position</button>
                                        <button style="display: none" data-memberId="`+ data[i].applicationUser.id + `" class="btn btn-outline-success btn-sm mr-1 position-save position-action">Save</button>
                                        <button style="display: none" data-memberId="`+ data[i].applicationUser.id + `" class="btn btn-outline-primary btn-sm mr-1 position-cancel position-action">Cancel</button>
                                        <button data-memberId="`+ data[i].applicationUser.id + `" class="btn btn-outline-danger btn-sm position-delete">Delete</button>
                                    </td>
                                </tr>`
                }
                $("#member-container").html(content);
            }
        })
    </script>
}