﻿
@model List<Timesheet.Models.ProjectViewModel>
@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section-header">
    <h1>Projects</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Projects</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <a class="btn btn-primary" href="./project/create">Create new Project</a>
    </h2>

    <div class="row">
        @{
            string statusColor = "";
            foreach (var item in Model)
            {
                if (item.Status == 1)
                {
                    statusColor = "danger";
                }
                else if (item.Status == 2)
                {
                    statusColor = "primary";
                }
                else if (item.Status == 3)
                {
                    statusColor = "success";
                }
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card card-@statusColor">
                        <div class="card-header">
                            <h4 class="text-success">@item.Name</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <td class="text-primary">Members</td>
                                        <td>14</td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">Time</td>
                                        <td>@item.PlannedStart -> @item.PlannedEnd</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-success" href="/project/detail/@item.Id">Detail</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

