﻿@model DailyViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Daily</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Daily</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary">
            @if (Model != null)
            {
                @ViewBag.Project.Name
            }
            else
            {
                <span>You are not in any project</span>
            }
        </button>
    </h2>

    @if (Model != null)
    {
        <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="card card-info">
                <div class="card-header">
                    <h4>Project</h4>
                    <div class="card-header-action">
                        <a data-collapse="#select-project-container" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="select-project-container">
                    <div class="card-body row">
                        <div class="form-inline col-lg-12 mb-2">
                            <label class="col-lg-4 col-md-4 col-sm-12">Utilization</label>
                            <input type="date" class="form-control col-lg-8 col-md-8 col-sm-12" id="TimesheetDate" value="@ViewBag.UtilizationTimesheet">
                        </div>
                        <div class="form-inline col-lg-12">
                            <label class="col-lg-4 col-md-4 col-sm-12">Project Code</label>
                            <select class="form-control col-lg-8 col-md-8 col-sm-12" id="ProjectCode">
                                @foreach (var item in ViewBag.ProjectCodes)
                                {
                                    @if (item == ViewBag.Project.Id)
                                    {
                                        <option selected>@item</option>
                                    }
                                    else
                                    {
                                        <option>@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="card card-info">
                <div class="card-header">
                    <h4>Delivery</h4>
                    <div class="card-header-action">
                        <a data-collapse="#delivery-info-container" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="delivery-info-container">
                    <div class="card-body row">
                        <div class="form-inline col-lg-12 mb-2">
                            <label class="col-lg-4 col-md-4 col-sm-12">Delivery Commit Date</label>
                            <input type="text" class="form-control col-lg-4 col-md-4 col-sm-6" readonly value="@Model.PlannedStart">
                            <input type="text" class="form-control col-lg-4 col-md-4 col-sm-6" readonly value="@Model.PlannedEnd">
                        </div>
                        <div class="form-inline col-lg-12">
                            <label class="col-lg-4 col-md-4 col-sm-12">Project Activity</label>
                            <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12" readonly value="@ViewBag.ProjectActivity.Name.ToUpper()">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card card-danger">
                <div class="card-header">
                    <h4>
                        Plan Effort
                        (
                        <span class="mx-2" style="color: green;">@ViewBag.TotalCurrentEffort</span>
                        /
                        <span class="mx-2" style="color: red">@ViewBag.TotalEffort</span>
                        )
                    </h4>
                    <div class="card-header-action">
                        <a data-collapse="#effort-container" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="effort-container">
                    <div class="card-body row">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text">Total Number</span>
                                    </div>
                                    <input type="text" name="HourUltilized" class="form-control effort-number" value="0">
                                </div>
                            </div>
                            <div class="w-100" style="text-align: center; color: gray;">
                                OR
                            </div>

                            @foreach (var item in Model.CurrentEfforts)
                            {
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                                    <div class="input-group" data-name="@item.StageName.ToUpper()" data-id="@item.Id">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text">@item.StageName</span>
                                        </div>
                                        <input type="text" class="form-control" readonly value="@item.EffortNumber">
                                        <input type="text" class="form-control" step="color: Red" readonly value="@item.Effort.EffortNumber Days">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12" id="input-effort-box" style="display: none; background: white">
                <form id="updateCurrentEffortForm" method="post" action="/daily/UpdateCurrentEffort">
                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text"></span>
                        </div>
                        <input type="hidden" name="id" />
                        <input type="text"  name="effortNumber" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                        <i class="fas fa-times ml-5"></i>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card card-info">
                <div class="card-header">
                    <h4>Status</h4>
                    <div class="card-header-action">
                        <a data-collapse="#status-container" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="status-container">
                    <div class="card-body">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="status-cancel" name="status" disabled class="custom-control-input" value="1" @(ViewBag.ProjectConfig.Status == 1 ? "checked" : "")>
                            <label class="custom-control-label" for="status-cancel">Cancel</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="status-closed" name="status" disabled class="custom-control-input" value="2" @(ViewBag.ProjectConfig.Status == 2 ? "checked" : "")>
                            <label class="custom-control-label" for="status-closed">Closed</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="status-running" name="status" disabled class="custom-control-input" value="3" @(ViewBag.ProjectConfig.Status == 3 ? "checked" : "")>
                            <label class="custom-control-label" for="status-running">Running</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#effort-container .input-group").click(function () {
                $("#input-effort-box span").text($(this).attr("data-name"));
                $('#input-effort-box input[type="hidden"]').val($(this).attr("data-id"));
                $("#input-effort-box").fadeIn();
            })

            $("#input-effort-box i").click(function () {
                $("#input-effort-box").fadeOut();
            })

            $("#updateCurrentEffortForm").submit(function (event) {
                event.preventDefault(); //prevent default action
                var post_url = $(this).attr("action"); //get form action url
                var request_method = $(this).attr("method"); //get form GET/POST method
                var form_data = $(this).serialize(); //Encode form elements for submission

                $.ajax({
                    url: post_url,
                    type: request_method,
                    data: form_data
                }).done(function (response) {
                    location.reload(true);
                });
            });

            $("#TimesheetDate").change(function () {
                var utilizationTimesheet = $("#TimesheetDate").val();
                var projectCode = $("#ProjectCode").val();
                window.location.href = "/daily/index?utilizationTimesheet=" + utilizationTimesheet + "&projectcode=" + projectCode
            })

            $("#ProjectCode").change(function () {
                var utilizationTimesheet = $("#TimesheetDate").val();
                var projectCode = $("#ProjectCode").val();
                window.location.href = "/daily/index?utilizationTimesheet=" + utilizationTimesheet + "&projectcode=" + projectCode
            })

            setInterval(function () {
            }, 3000);
        })
    </script>
}

