﻿
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-error">
    <div class="page-inner">
        <h1>404</h1>
        <div class="page-description">
            The page you were looking for could not be found.
        </div>
    </div>
</div>

