﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPaswordConfirmation</title>
</head>
<body>
    <h4>If you have an account with us, we have sent an email with the instructions to reset your password</h4>
</body>
</html>
