﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordConfirmation</title>
</head>
<body>
    <h4>
        Your password is reset. Please click <a asp-action="Login">here to login</a>
    </h4>
</body>
</html>
