﻿@model Dictionary<string,List<Timesheet.Data.Header>>

<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="index.html">Timesheet</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">Ts</a>
        </div>
        <ul class="sidebar-menu">
            @foreach (var kvp in Model)
            {
                <li class="menu-header">@kvp.Key</li>
                foreach (var header in kvp.Value)
                {
                    if (header.IsShown == true)
                    {
                        if (header.DoesHaveChild == true && header.ParentId == 0)
                        {
                            <li class="nav-item dropdown @header.Active">
                                <a href="#" class="nav-link has-dropdown"><i class="@header.Icon"></i><span>@header.Name</span></a>
                                <ul class="dropdown-menu">
                                    @{var childHeaders = kvp.Value.Where(x => x.ParentId == header.Id && x.IsShown == true);}
                                    @foreach (var childHeader in childHeaders)
                                    {
                                        <li><a class="nav-link" href="@childHeader.Link">@childHeader.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        else if (header.DoesHaveChild == false && header.ParentId == 0)
                        {
                            <li class="@header.Active"><a class="nav-link" href="@header.Link"><i class="@header.Icon"></i> <span>@header.Name</span></a></li>
                        }
                    }
                }
            }
        </ul>
    </aside>
</div>

