﻿@model Timesheet.Models.LeaveModel
@{
    ViewData["Title"] = "EditLeaveRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Edit Leave Request</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Leave Request</a></div>
        <div class="breadcrumb-item"><a>Edit</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary">
            Edit Leave Request
        </button>
    </h2>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 px-5">
            <div class="card card-info">
                <div class="card-header">
                    <h4>
                        Leave Request Information
                    </h4>

                </div>
                <div class="collapse show">
                    <div class="card-body row px-5">
                        @using (Html.BeginForm("EditLeaveRequest", "LeaveRequest", FormMethod.Post, new { id = "leaveRequestForm", enctype = "multipart/form-data", @class = "form w-100" }))
                        {
                            <div>
                                @Html.HiddenFor(a => a.LeaveRequestModel.Id)
                                @Html.HiddenFor(a => a.LeaveRequestModel.TimiosStaff.Id)

                                <div class="form-group row">
                                    <label class="">Name</label>
                                    @Html.EditorFor(a => a.LeaveRequestModel.StaffName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>

                                <div class="form-group row">
                                    <label class="">Designation</label>
                                    @Html.EditorFor(a => a.LeaveRequestModel.Designation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>

                                <div class="form-group row">
                                    <label class="">Manager-in-Charge:</label><br />
                                    @Html.DropDownListFor(a => a.LeaveRequestModel.ManagerInCharge, ViewBag.Staffs as IEnumerable<SelectListItem>, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.ManagerInCharge, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group row">
                                    <label class="">Leave Type:</label><br />
                                    @Html.DropDownListFor(a => a.LeaveRequestModel.LeaveTypeId, ViewBag.LeaveTypes as IEnumerable<SelectListItem>, null, new { onchange = "enableTbxOthers()", @class = "form-control", @id = "leaveTypeIdDropdown"  })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.LeaveTypeId, null, new { @class = "text-danger" })
                                    <span id="descriptionNumberOfAvailableLeaveDays" class="ml-3 mt-1" style="color: red"></span>

                                </div>

                                <div class="form-group row">
                                    <label class="">If others, please specify:</label>
                                    @Html.TextBoxFor(a => a.LeaveRequestModel.LeaveTypeOthers, new { @class = "form-control" })
                                </div>

                                <div class="form-group row">
                                    @*<label class="w-100">Number of Days:</label>*@
                                    @Html.HiddenFor(a => a.LeaveRequestModel.NoOfDays, new { @class = "form-control w-25" })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.NoOfDays, null, new { @class = "text-danger" })

                                    @*<div style="padding-top: 13px; padding-left: 5px">
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Mon1)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Mon1, "M")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Tue1)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Tue1, "T")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Wed1)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Wed1, "W")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Thu1)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Thu1, "Th")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Fri1)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Fri1, "F")
                                    </div>
                                    <div style="padding-top: 13px; padding-left: 5px">
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Mon2)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Mon2, "M")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Tue2)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Tue2, "T")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Wed2)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Wed2, "W")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Thu2)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Thu2, "Th")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.Fri2)
                                        @Html.LabelFor(a => a.LeaveRequestModel.Fri2, "F")
                                    </div>*@

                                </div>

                                <div class="form-group row">
                                    <label class="w-100">Start Date:</label>
                                    @Html.TextBoxFor(a => a.LeaveRequestModel.StartDate, "{0:dd-MMM-yyyy}", new { @readonly = true, @class = "datepicker form-control w-50", @id = "startDateInput" })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.StartDate, null, new { @class = "text-danger" })
                                    <div style="padding-top: 13px; padding-left: 5px">
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.StartAM, new { @id = "StartAMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.StartAM, "A.M.")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.StartPM, new { @id = "StartPMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.StartPM, "P.M.")
                                        &nbsp;&nbsp;&nbsp;&nbsp; (for half-day leave, select AM or PM)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="w-100">End Date:</label>
                                    @Html.TextBoxFor(a => a.LeaveRequestModel.EndDate, "{0:dd-MMM-yyyy}", new { @readonly = true, @class = "datepicker form-control w-50", @id = "endDateInput" })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.EndDate, null, new { @class = "text-danger" })
                                    <div style="padding-top: 13px; padding-left: 5px">
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.EndAM, new { @id = "EndAMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.EndAM, "A.M.")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.EndPM, new { @id = "EndPMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.EndPM, "P.M.")
                                    </div>

                                    @Html.HiddenFor(a => a.LeaveRequestModel.SubmitDate)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.SubmitStaff)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.LeaveStatus)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.IsDeleted)
                                </div>

                                @if (Model.LeaveRequestModel.LeaveStatus == "Approved" || Model.LeaveRequestModel.LeaveStatus == "Rejected")
                                {
                                    <div class="form-group row">
                                        <label>Remarks:</label>
                                        @Html.TextAreaFor(a => a.LeaveRequestModel.Remarks, new { @maxlength = 255, @class = "form-control" })
                                    </div>
                                }

                                <div>
                                    <strong>Note:</strong>
                                    <ol>
                                        <li>All leave requests to be submitted 2 weeks in advance</li>
                                        <li>For block leaves, please plan well in advance with your manager-in-charge and submit leave request 3 months in advance</li>
                                        <li>1/2 leave timing: AM -> 7:30am to 1:00pm ; PM -> 1:30pm to 6:00pm</li>
                                        <li>Maximum no. of leaves allowed to be brought forward is 7 days (Must be consumed within 1st half of following year)</li>
                                    </ol>
                                </div>

                                @*@if (Model.LeaveRequestModel.LeaveStatus == "Submitted")
                                        {
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <input type="submit" value="Submit" class="btn btn-primary" />
                                        </div>
                                    </div>
                                        }*@

                                <div class="form-group" style="text-align: right">
                                    @Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-outline-info" })
                                    <input type="submit" value="Submit" class="btn btn-primary ml-3" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function enableTbxOthers() {
            if (($("#LeaveRequestModel_LeaveTypeId").val()) == 6) {
                $("#LeaveRequestModel_LeaveTypeOthers").prop("disabled", false);
            } else {
                $("#LeaveRequestModel_LeaveTypeOthers").prop("disabled", true);
            }
        };

        enableTbxOthers();

         function GetNumberOfAvailableDays() {
            $.ajax({
                url: "/leaverequest/GetNumberOfAvailableDays",
                type: "get",
                data: {
                    leaveTypeId: $("#leaveTypeIdDropdown").children("option:selected").val(),
                    stringStartDate: $("#startDateInput").val(),
                    stringEndDate: $("#endDateInput").val(),
                    staffId: @Model.StaffModel.Id,
                    startAM: $("#StartAMCheckbox").is(":checked"),
                    endAM: $("#EndAMCheckbox").is(":checked"),
                    startPM: $("#StartPMCheckbox").is(":checked"),
                    endPM: $("#EndPMCheckbox").is(":checked"),
                },
                success: function (data) {
                    console.log(data);
                    if (data < 0) {
                        $("#descriptionNumberOfAvailableLeaveDays").fadeIn();
                        $("#descriptionNumberOfAvailableLeaveDays").html("Out of days");
                        toastr.warning('Out of days!!!');
                    }
                    else {
                        $("#descriptionNumberOfAvailableLeaveDays").html("");
                        $("#descriptionNumberOfAvailableLeaveDays").fadeOut();
                    }
                }
            });
        }

        $("#leaveRequestForm").submit(function (e) {
            if ($("#descriptionNumberOfAvailableLeaveDays").html() != "") {
                console.log(1111)
                e.preventDefault();
                toastr.warning('Out of days!!!');
            }
            else {
                console.log(2222)
            }
        })

        $("#leaveTypeIdDropdown").change(function () {
            GetNumberOfAvailableDays();
        })

        $('input[type=text],input[type=checkbox]').change(function () {
            GetNumberOfAvailableDays();
        })

        GetNumberOfAvailableDays();

        $(function () {
            $(".datepicker").datepicker({ changeYear: true, changeMonth: true, dateFormat: 'dd-M-yy' });
        });
    </script>

}