﻿@model Timesheet.Models.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Leave Request</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Leave Request</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <a href="/leaverequest/LeaveRequest?start=@DateTime.Now&end=@DateTime.Now.AddDays(1)" class="btn btn-primary">
            Add new leave request
        </a>
    </h2>

    <div class="row">
        @using (Html.BeginForm("Index", "LeaveRequest", FormMethod.Post, new { id = "balanceForm", enctype = "multipart/form-data", @class = "form" }))
        {

            <div class="col-lg-7 col-md-12 col-sm-12 px-5">
                <div class="card card-info">
                    <div class="card-header">
                        <h4>
                            Your Leave Balance
                        </h4>
                        <div class="card-header-action">
                            <a data-collapse="#your-leave-balance-container" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                        </div>
                    </div>
                    <div class="collapse show" id="your-leave-balance-container">
                        <div class="card-body row">
                            <div class="table-responsive">
                                <div class="" style="width:100%">
                                    @Html.HiddenFor(a => a.StaffModel.Fullname)
                                    @Html.HiddenFor(a => a.StaffModel.Id)

                                    <table border="0" class="table">
                                        <thead>
                                            <tr>
                                                <th>Annual Leave</th>
                                                <th>Medical Leave</th>
                                                <th>Maternity/Paternity Leave</th>
                                                <th>Childcare Leave</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Html.DisplayFor(a => a.LeaveBalanceModel.BalanceAL) / @ViewBag.LeaveBalanceConfig.TotalAL days</td>
                                                <td>@Html.DisplayFor(a => a.LeaveBalanceModel.BalanceML) / @ViewBag.LeaveBalanceConfig.TotalML days</td>
                                                <td>@Html.DisplayFor(a => a.LeaveBalanceModel.BalanceMPL) / @ViewBag.LeaveBalanceConfig.TotalMPL days</td>
                                                <td>@Html.DisplayFor(a => a.LeaveBalanceModel.BalanceCL) / @ViewBag.LeaveBalanceConfig.TotalCL days</td>

                                                @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceAL)
                                                @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceML)
                                                @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceMPL)
                                                @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceCL)
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 px-5">
                <div class="card card-info">
                    <div class="card-header">
                        <h4>
                            Leave Request Table
                        </h4>

                    </div>
                    <div class="collapse show">
                        <div class="card-body row">
                            <div>
                                <label>Search By:</label>
                                <div class="row mb-3">
                                    <div class="col-lg-3">
                                        @Html.DropDownListFor(a => a.SearchYear, new SelectList(ViewBag.Years as System.Collections.IEnumerable, DateTime.Now.Year), new { @class = "form-control" })
                                    </div>

                                    <div class="col-lg-3">
                                        @Html.DropDownListFor(a => a.SearchLeaveTypeID, ViewBag.LeaveTypes as IEnumerable<SelectListItem>, "Select Leave Type", new { @class = "form-control" })
                                    </div>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <div class="col-lg-3">
                                            @Html.DropDownListFor(a => a.SearchStaffID, ViewBag.Staffs as IEnumerable<SelectListItem>, "Please select staff", new { @class = "form-control" })
                                        </div>
                                    }
                                    <input type="submit" value="Search" class="btn btn-primary" />
                                </div>

                                <table id="leave-request-table" border="0" class="table text-center">
                                    <thead>
                                        <tr>
                                            <th class=" text-center">Submitted Date</th>
                                            <th class=" text-center">Staff Name</th>
                                            <th class=" text-center">Type of Leave</th>
                                            <th class=" text-center">No. of Days</th>
                                            <th class=" text-center">Start Date</th>
                                            <th class=" text-center">End Date</th>
                                            <th class=" text-center">Status</th>
                                            <th class=" text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.LeaveRequestModelList.Count; i++)
                                        {
                                            <tr>
                                                <td data-order="@Model.LeaveRequestModelList[i].SubmitDate.ToBinary()">@Model.LeaveRequestModelList[i].SubmitDate.ToString("dd-MMM-yy H:mm:ss")</td>
                                                <td>@Model.LeaveRequestModelList[i].StaffName</td>
                                                <td>@Model.LeaveRequestModelList[i].LeaveTypeName</td>
                                                <td>@Model.LeaveRequestModelList[i].NoOfDays</td>
                                                <td data-order="@Model.LeaveRequestModelList[i].StartDate.ToBinary()">
                                                    @Model.LeaveRequestModelList[i].StartDate.ToString("dd-MMM-yy")
                                                    @if (Model.LeaveRequestModelList[i].StartAM == true && Model.LeaveRequestModelList[i].StartPM == false)
                                                    {
                                                        <p style="color: green; font-weight: bold">Morning</p>
                                                    }
                                                    else if (Model.LeaveRequestModelList[i].StartPM == true && Model.LeaveRequestModelList[i].StartAM == false)
                                                    {
                                                        <p style="color: orange; font-weight: bold">Afternoon</p>
                                                    }
                                                </td>
                                                <td data-order="@Model.LeaveRequestModelList[i].EndDate.ToBinary()">
                                                    @Model.LeaveRequestModelList[i].EndDate.ToString("dd-MMM-yy")
                                                    @if (Model.LeaveRequestModelList[i].EndAM == true && Model.LeaveRequestModelList[i].EndPM == false)
                                                    {
                                                        <p style="color: green; font-weight: bold">Morning</p>
                                                    }
                                                    else if (Model.LeaveRequestModelList[i].EndPM == true && Model.LeaveRequestModelList[i].EndAM == false)
                                                    {
                                                        <p style="color: orange; font-weight: bold">Afternoon</p>
                                                    }
                                                </td>
                                                <td>@Model.LeaveRequestModelList[i].LeaveStatus</td>
                                                @if (!User.IsInRole("admin"))
                                                {
                                                    <td>@Html.ActionLink("Edit", "EditLeaveRequest", new { id = Model.LeaveRequestModelList[i].Id }, new { @class = "btn btn-outline-info" })</td>
                                                }
                                                @if (User.IsInRole("admin"))
                                                {
                                                    <td>@Html.ActionLink("Review", "ReviewLeaveRequest", new { id = Model.LeaveRequestModelList[i].Id }, new { @class = "btn btn-outline-info" })</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#leave-request-table').DataTable();
        })
    </script>
}

