﻿@model Timesheet.Models.LeaveModel
@{
    ViewData["Title"] = "LeaveRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Create new Leave Request</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Create New Leave Request</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary">
            Create new leave request
        </button>
    </h2>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 px-5">
            <div class="card card-info">
                <div class="card-header">
                    <h4>
                        Leave Request Information
                    </h4>

                </div>
                <div class="collapse show">
                    <div class="card-body row">
                        @using (Html.BeginForm("LeaveRequest", "LeaveRequest", FormMethod.Post, new { id = "leaveRequestForm", enctype = "multipart/form-data", @class = "w-100 px-5" }))
                        {
                            <div>
                                @Html.HiddenFor(a => a.StaffModel.Id)
                                <div class="form-group row">
                                    <label class="">Name</label>
                                    @Html.EditorFor(a => a.StaffModel.Fullname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>

                                <div class="form-group row">
                                    <label class="">Name</label>
                                    @Html.EditorFor(a => a.StaffModel.Designation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>

                                <div class="form-group row">
                                    <label class="">Manager-in-Charge:</label><br />
                                    @Html.DropDownListFor(a => a.LeaveRequestModel.ManagerInCharge, ViewBag.Staffs as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.ManagerInCharge, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Leave Type:</label><br />
                                    @Html.DropDownListFor(a => a.LeaveRequestModel.LeaveTypeId, ViewBag.LeaveTypes as IEnumerable<SelectListItem>, new { onchange = "enableTbxOthers()", @class = "form-control", @id = "leaveTypeIdDropdown" })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.LeaveTypeId, null, new { @class = "text-danger" })
                                    <span id="descriptionNumberOfAvailableLeaveDays" class="ml-3 mt-1" style="color: red"></span>
                                </div>

                                <div class="form-group row">
                                    <label class="">If others, please specify:</label>
                                    @Html.TextBoxFor(a => a.LeaveRequestModel.LeaveTypeOthers, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.LeaveRequestModel.LeaveTypeOthers, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group row">
                                    @*<label class="">Number of Days:</label>*@
                                    @Html.HiddenFor(a => a.LeaveRequestModel.NoOfDays, new { @readonly = true, @class = "form-control", @id = "NoOfDaysInput" })
                                </div>

                                <div class="form-group row">
                                    <label class="w-100">Start Date:</label>
                                    @Html.TextBoxFor(a => a.LeaveRequestModel.StartDate, "{0:yyyy-MM-dd}", new { @readonly = true, @class = "datepicker form-control w-50", @id = "startDateInput" })
                                    <div style="padding-top: 13px; padding-left: 5px">
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.StartAM, new { @id = "StartAMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.StartAM, "A.M.")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.StartPM, new { @id = "StartPMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.StartPM, "P.M.")
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        (for half-day leave, select AM or PM)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="w-100">End Date:</label>
                                    @Html.TextBoxFor(a => a.LeaveRequestModel.EndDate, "{0:yyyy-MM-dd}", new { @readonly = true, @class = "datepicker form-control w-50", @id = "endDateInput" })
                                    <div style="padding-top: 13px; padding-left: 5px">
                                        @Html.ValidationMessageFor(a => a.LeaveRequestModel.EndDate, null, new { @class = "text-danger" })
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.EndAM, new { @id = "EndAMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.EndAM, "A.M.")
                                        @Html.CheckBoxFor(a => a.LeaveRequestModel.EndPM, new { @id = "EndPMCheckbox" })
                                        @Html.LabelFor(a => a.LeaveRequestModel.EndPM, "P.M.")
                                    </div>
                                </div>

                                <div>
                                    <strong>Note:</strong>
                                    <ol>
                                        <li>All leave requests to be submitted 2 weeks in advance</li>
                                        <li>For block leaves, please plan well in advance with your manager-in-charge and submit leave request 3 months in advance</li>
                                        <li>1/2 leave timing: AM -> 8:30am to 1:00pm ; PM -> 1:30pm to 6:00pm</li>
                                        <li>Maximum no. of leaves allowed to be brought forward is 7 days (Must be consumed within 1st half of following year)</li>
                                    </ol>
                                </div>

                                @Html.ValidationMessageFor(a => a.LeaveRequestModel.StartDate, null, new { @class = "text-danger" })

                                <div class="form-group" style="text-align: right">
                                    @Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-outline-info" })
                                    <input type="submit" value="Submit" class="btn btn-primary ml-3" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function enableTbxOthers() {
            if (($("#LeaveRequestModel_LeaveTypeId").val()) == 6) {
                $("#LeaveRequestModel_LeaveTypeOthers").prop("disabled", false);
            } else {
                $("#LeaveRequestModel_LeaveTypeOthers").prop("disabled", true);
            }
        };

        enableTbxOthers();

        $(function () {
            $(".datepicker").datepicker({ changeYear: true, changeMonth: true, dateFormat: 'yy-mm-dd' });
        });

        function GetNumberOfAvailableDays() {
            $.ajax({
                url: "/leaverequest/GetNumberOfAvailableDays",
                type: "get",
                data: {
                    leaveTypeId: $("#leaveTypeIdDropdown").children("option:selected").val(),
                    stringStartDate: $("#startDateInput").val(),
                    stringEndDate: $("#endDateInput").val(),
                    staffId: @Model.StaffModel.Id,
                    startAM: $("#StartAMCheckbox").is(":checked"),
                    endAM: $("#EndAMCheckbox").is(":checked"),
                    startPM: $("#StartPMCheckbox").is(":checked"),
                    endPM: $("#EndPMCheckbox").is(":checked"),
                },
                success: function (data) {
                    console.log(data);
                    if (data < 0) {
                        $("#descriptionNumberOfAvailableLeaveDays").fadeIn();
                        $("#descriptionNumberOfAvailableLeaveDays").html("Out of days");
                        toastr.warning('Out of days!!!');
                    }
                    else {
                        $("#descriptionNumberOfAvailableLeaveDays").html("");
                        $("#descriptionNumberOfAvailableLeaveDays").fadeOut();
                    }
                }
            });
        }

        $("#leaveRequestForm").submit(function (e) {
            if ($("#descriptionNumberOfAvailableLeaveDays").html() != "") {
                console.log(1111)
                e.preventDefault();
                toastr.warning('Out of days!!!');
            }
            else {
                console.log(2222)
            }
        })

        $("#leaveTypeIdDropdown").change(function () {
            GetNumberOfAvailableDays();
        })

        $('input[type=text],input[type=checkbox]').change(function () {
            GetNumberOfAvailableDays();
        })

        GetNumberOfAvailableDays();

        $('#LeaveRequestModel_EndDate').change(function () {
            var startstring = $('#LeaveRequestModel_StartDate').val();
            var endstring = $('#LeaveRequestModel_EndDate').val();
            var start = Date.parse(startstring);
            var end = Date.parse(endstring);
            var diffTime = Math.abs(end - start);
            var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            var cal = diffDays + 1;
            $('#LeaveRequestModel_NoOfDays').val(cal.toString());
            var a = $('#LeaveRequestModel_NoOfDays');
        });</script>
}
