﻿@model Timesheet.Models.LeaveModel
@{
    ViewData["Title"] = "ReviewLeaveRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h1>Review Leave Request</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Home</a></div>
        <div class="breadcrumb-item"><a>Leave Request</a></div>
        <div class="breadcrumb-item"><a>Review Leave Request</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">
        <button class="btn btn-primary">
            Review Leave Request
        </button>
    </h2>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 px-5">
            <div class="card card-info">
                <div class="card-header">
                    <h4>
                        Leave Request Information
                    </h4>

                </div>
                <div class="collapse show">
                    <div class="card-body row">
                        @using (Html.BeginForm("ReviewLeaveRequest", "LeaveRequest", FormMethod.Post, new { id = "reviewLeaveReqForm", enctype = "multipart/form-data", @class = "form px-5 w-100" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(a => a.LeaveRequestModel.Id)
                            @Html.HiddenFor(a => a.LeaveRequestModel.TimiosStaff.Id)
                            @Html.HiddenFor(a => a.LeaveRequestModel.SubmitDate)
                            @Html.HiddenFor(a => a.LeaveRequestModel.SubmitStaff)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.Id)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.TakenAL)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.TakenML)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceAL)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceML)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.TakenMPL)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceMPL)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.TakenCL)
                            @Html.HiddenFor(a => a.LeaveBalanceModel.BalanceCL)

                            <div class="form-group row">
                                <label class="">Name</label>
                                @Html.EditorFor(a => a.LeaveRequestModel.StaffName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                            <div class="form-group row">
                                <label class="">Designation</label>
                                @Html.EditorFor(a => a.LeaveRequestModel.Designation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                            <div class="form-group row">
                                <label class="">Manager-in-Charge</label> <br />
                                @Html.DropDownListFor(a => a.LeaveRequestModel.ManagerInCharge, ViewBag.Staffs as IEnumerable<SelectListItem>, "-- Select --", new { @disabled = true, @class = "form-control" })
                                @Html.HiddenFor(a => a.LeaveRequestModel.ManagerInCharge)
                            </div>

                            <div class="form-group row">
                                <label>Leave Type:</label>
                                @Html.DropDownListFor(a => a.LeaveRequestModel.LeaveTypeId, ViewBag.LeaveTypes as IEnumerable<SelectListItem>, "-- Select --", new { onchange = "enableTbxOthers()", @class = "form-control", @disabled = "disable"})
                                @Html.HiddenFor(a => a.LeaveRequestModel.LeaveTypeId)
                            </div>

                            <div class="form-group row">
                                <label>If others, please specify:</label>
                                @Html.TextBoxFor(a => a.LeaveRequestModel.LeaveTypeOthers, new { @class = "form-control" })
                            </div>

                            <div class="form-group row">
                                <label class="w-100">Number of Days:</label>
                                @Html.TextBoxFor(a => a.LeaveRequestModel.NoOfDays, new { @readonly = true, @class = "form-control w-25" })
                                @Html.HiddenFor(a => a.LeaveRequestModel.NoOfDays)
                                <div style="padding-top: 13px; padding-left: 5px">
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Mon1) M
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Tue1) T
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Wed1) W
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Thu1) Th
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Fri1) F
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Mon1)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Tue1)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Wed1)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Thu1)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Fri1)
                                </div>
                                <div style="padding-top: 13px; padding-left: 5px">
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Mon2) M
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Tue2) T
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Wed2) W
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Thu2) Th
                                    @Html.DisplayFor(a => a.LeaveRequestModel.Fri2) F
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Mon2)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Tue2)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Wed2)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Thu2)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.Fri2)
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="w-100">Start Date:</label>
                                @Html.TextBoxFor(a => a.LeaveRequestModel.StartDate, new { @readonly = true, @class = "datepicker form-control w-50" })
                                @Html.HiddenFor(a => a.LeaveRequestModel.StartDate)
                                <div style="padding-top: 13px; padding-left: 5px">
                                    @Html.DisplayFor(a => a.LeaveRequestModel.StartAM) A.M.
                                    @Html.DisplayFor(a => a.LeaveRequestModel.StartPM) P.M.<br />
                                    @Html.HiddenFor(a => a.LeaveRequestModel.StartAM)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.StartPM)
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="w-100">End Date:</label>
                                @Html.TextBoxFor(a => a.LeaveRequestModel.EndDate, new { @readonly = true, @class = "datepicker form-control w-50" })
                                @Html.HiddenFor(a => a.LeaveRequestModel.EndDate)
                                <div style="padding-top: 13px; padding-left: 5px">
                                    @Html.DisplayFor(a => a.LeaveRequestModel.EndAM) A.M.
                                    @Html.DisplayFor(a => a.LeaveRequestModel.EndPM) P.M.
                                    @Html.HiddenFor(a => a.LeaveRequestModel.EndAM)
                                    @Html.HiddenFor(a => a.LeaveRequestModel.EndPM)
                                </div>
                            </div>

                            <div class="form-group row">
                                <label>Remarks:</label>
                                @Html.TextAreaFor(a => a.LeaveRequestModel.Remarks, new { @maxlength = 255, @class = "form-control" })
                            </div>

                            <div class="form-group row">
                                <label class="w-100">Review:</label>
                                @Html.RadioButtonFor(a => a.LeaveRequestModel.LeaveStatus, "Approved", new { @id = "rbAprrove" })<span class="mr-3">Approved</span>
                                @Html.RadioButtonFor(a => a.LeaveRequestModel.LeaveStatus, "Rejected", new { @id = "rbReject" })<span>Rejected</span>
                                @Html.ValidationMessageFor(a => a.LeaveRequestModel.LeaveStatus, null, new { @class = "text-danger" })
                            </div>

                            @*@if (Model.LeaveRequestModel.LeaveStatus.Equals("Submitted"))
                {
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Submit" class="btn btn-primary" onclick="return validate()" />
                </div>
            </div>
                }*@


                            <div class="form-group " style="text-align: right">
                                @Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-outline-info" })
                                <input type="submit" value="Submit" class="btn btn-primary ml-3" onclick="return validate()" />
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
            function validate() {
                if (!$("#rbAprrove").is(":checked") && !$("#rbReject").is(":checked")) {
                    alert("Please review the leave request.");
                    return false;
                }
                if ($("#rbAprrove").is(":checked")) {
                    var days = $("#LeaveRequestModel_NoOfDays").val();


                    if ((($("#LeaveRequestModel_LeaveTypeId").val()) == 1) && (parseFloat(days) > @Model.LeaveBalanceModel.BalanceAL) ||
                        (($("#LeaveRequestModel_LeaveTypeId").val()) == 4) && (parseFloat(days) > @Model.LeaveBalanceModel.BalanceML) ||
                        (($("#LeaveRequestModel_LeaveTypeId").val()) == 5) && (parseFloat(days) > @Model.LeaveBalanceModel.BalanceMPL)) ||
                        (($("#LeaveRequestModel_LeaveTypeId").val()) == 7) && (parseFloat(days) > @Model.LeaveBalanceModel.BalanceCL)){
                        alert("Not enough balance for selected leave type. Please change the leave type.");

                        return false;
                    }

                    return true;
                }
            };

        function enableTbxOthers() {
            console.log(($("#LeaveRequestModel_LeaveTypeId").val()))
                if (($("#LeaveRequestModel_LeaveTypeId").val()) == 6) {
                    $("#LeaveRequestModel_LeaveTypeOthers").prop("disabled", false);
                } else {
                    $("#LeaveRequestModel_LeaveTypeOthers").prop("disabled", true);
                }
            };

            enableTbxOthers();
    </script>

}